/* PC */

@media (min-width: 992px) {
	.mobile-header {
		display: none;
	}
}

/* Tablet & Mobile */

@media (max-width: 991.8px) {
	.navbar {
		display: none;
	}

	.header-top {
		position: relative;
	}

	.header__logo {
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);
	}

	.header-top .action {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	.header__menu--icon {
		position: absolute;
		top: 2.5%;
		left: 2.5%;
		font-size: 30px;
		color: #c9d2da;
	}

	.menu-overlay {
		position: fixed;
		background: rgba(55, 55, 55, 0.6);
		inset: 0;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s ease-in;
	}

	.menu-checkbox:checked ~ .menu-overlay {
		opacity: 1;
		visibility: visible;
	}

	.navbar__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 80px;
	}

	.menu__close {
		font-size: 30px;
		color: #fff;
	}

	.mobile-navbar {
		position: fixed;
		height: 100vh;
		/* width: 100%; */
		inset: 0 75% 0 0;
		background-color: #000;
		z-index: 2;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in;
		padding: 35px;
	}

	.menu-checkbox:checked ~ .mobile-navbar {
		transform: translateX(0);
	}

	.mobile-navbar__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;
		gap: 30px;
	}

	.mobile-navbar__item {
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 24px;
		color: #fff;
		text-decoration: none;
		padding: 10px 20px;
	}

	.mobile-navbar__item:hover {
		background-color: #2e80ce;
		color: #fff;
	}

	.mobile-navbar__item:hover .mobile-navbar__link {
		color: #fff;
	}

	/* .mobile-navbar__link {
		display: block;
	} */
}

/* Tablet */

@media (min-width: 768px) and (max-width: 991.8px) {
}

/* Mobile */

@media (max-width: 767.8px) {
}
